:root {
  --main-font: "Poltawski Nowy", serif;
  --secondary-color: pink;

  --primary-color: black;
}

.WeatherInfo {
  padding: 12;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.WeatherInfo h1 {
  font-family: var(--main-font);
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.WeatherInfo li {
  list-style: none;
}

footer {
  font-family: var(--main-font);
  font-size: 14px;
}
